<!DOCTYPE html>
<html ng-app='demoApp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My First Angular App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container" ng-controller="SimpleController">
    Name: <input type="text" ng-model="name"> {{ name | uppercase }}
    <h3>Looping with the ng-repeat Directive</h3>
    <ul>
      <li ng-repeat="cust in customers | filter:name |orderBy:'city'">{{ cust.name }} - {{ cust.city }}</li>
    </ul>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script type="text/javascript">
    var demoApp = angular.module('demoApp', []);

    demoApp.controller('SimpleController', function ($scope) {
      $scope.customers = [
        {name:'Dave', city:'Phonix'},
        {name:'Napur', city:'Toledo'},
        {name:'Heedy', city:'Berlin'},
        {name:'Shriva', city:'New York City'}
      ]
    });
  </script>
</body>
</html>
